<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hisview</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./hisview.css"/>
</head>
<body>
	<!--bar-->
	<div class="col container">
		<div class="float-left"><h2>HISVIEW</h2></div>
	</div>
	<div class="col container">
		<div class="float-right"><h3>Make public data viewable</h3></div> 
	</div>
	<!-- main content
	<div id="sidebar_left" class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3">

			</div>
		</div>
	</div>-->
	<div  class="container">
	<div class="row">
	<div id="main" class="col-md-12 col-lg-12"
	<p><h4>Hisview is a service for published genomic data. It contains methylome and histone modification information.</h4></p>
	<form role="form" name="submit_form" enctype="multipart/form-data" method=post action="{% url 'Hisview:info' %}" onsubmit="return validate_form();">
	{% csrf_token %}
		<div class="form-group">
			<label id="genome">Background genome:</label><br/>
			<span>hg19:&nbsp;&nbsp;<input type="radio" value="hg19" name="genome" id="genome_default" onclick="switchgenome(this.value)"/></span>&nbsp;&nbsp;&nbsp;&nbsp;
		<!--	<span>hg38:&nbsp;&nbsp;<input type="radio" value="hg38" name="genome" onclick="switchgenome(this.value)"/></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
		<!--	<span>mm9:&nbsp;&nbsp;<input type="radio" value="mm9" name="genome" onclick="switchgenome(this.value)"/></span>&nbsp;&nbsp;&nbsp;&nbsp;-->
			<span>mm10:&nbsp;&nbsp;<input type="radio" value="mm10" name="genome" onclick="switchgenome(this.value)"/></span>
	<!--		<ul>
				<li><span>hg19:&nbsp;&nbsp;<input type="radio" value="hg19" name="genome" /></span></li>
				<li><span>hg38:&nbsp;&nbsp;<input type="radio" value="hg38" name="genome" /></span></li>
				<li><span>mm9:&nbsp;&nbsp;<input type="radio" value="mm9" name="genome" /></span></li>
				<li><span>mm10:&nbsp;&nbsp;<input type="radio" value="mm10" name="genome" /></span></li>
			</ul>-->
		</div>
		<div class="form-group">
			<label>Histone information:</label>
			<ul>
				<li>
					<label>
						<input type="radio" id="bwgsm" name="bwChoice" value="bwgsm"  onclick="switchBw(this.value)" />
						<label for="GSM">GSM code:</label>
						<textarea class="form-control" name="GSM" id="GSM" rows="6" cols="20" placeholder="Type in GSM code here"></textarea>
						<!-- Add examples here-->
					</label>
				</li>
				<li>
					<label>
						<input type="radio" id="bwfileradio" name="bwChoice" value="bwfile" onclick="switchBw(this.value)" />
						<span>BigWig file: &nbsp;&nbsp;<input type="file" id="bwfile" name="bwfile"></span>
					</label>
				</li>
			</ul>
		</div>
		<!-- Here's the block for input background bed file -->
		<div class="form-group">
			<label id="bgoption">Background regions</label>
			<ul>
				<li>
					<label>
						<input type="radio" id="bguploadbed" name="bgChoice" value="file" onclick="switchBg(this.value)" />
						<span>BED file: &nbsp;&nbsp;<input type="file" id="bgfile" name="bgfile"></span>
					</label>
				</li>
				<li>
					<label>
						<input type="radio" id="bgmanualgene" name="bgChoice" value="data" onclick="switchBg(this.value)" />
						<span>Gene name: </span>
						<textarea id="bgdata" name="bgdata" rows="5"></textarea>
					</label>
				</li>
				<li>
					<label>
						<input type="radio" id="bgprebed" name="bgChoice"  value="preset" onclick="switchBg(this.value)" />
						<span>Fixed region:</span>
					</label>
					<br/>
					<label for="cgi">CpG island:&nbsp;</label>
					<input type="radio" id="cgi" name="bgpreset" value="cgi" />&nbsp;&nbsp;
					<label for="prom">Promoter:&nbsp;</label>
					<input type="radio" id="prom" name="bgpreset" value="prom" />&nbsp;&nbsp;
					<label for="exon">Exon:&nbsp;</label>
					<input type="radio" id="exon" name="bgpreset" value="exon" />&nbsp;&nbsp;
					<label for="intron">Intron:&nbsp;</label>
					<input type="radio" id="intron" name="bgpreset" value="intron"/>&nbsp;&nbsp;
					<label for="3'UTR">3'UTR:&nbsp;</label>
					<input type="radio" id="3utr" name="bgpreset" value="3utr"/>&nbsp;&nbsp;
					<label for="5'UTR">5'UTR:&nbsp;</label>
					<input type="radio" id="5utr" name="bgpreset" value="5utr"/>&nbsp;&nbsp;
				</li>
		</div>
		<div class="form-group">
			<label id="bgmeth">Background methylation information:</label>
			<ul>
				<li><span>Human ESC:&nbsp;&nbsp;<input type="checkbox" id="meth1" name="meth1" /></span></li>
				<li><span>Mouse ESC:&nbsp;&nbsp;<input type="checkbox" id="meth2" name="meth2" /></span></li>
			</ul>
		</div>
		<div class="form-group">
			<label id="bghmc">Background 5hmC information:</label>
			<ul>
				<li><span>Human ESC:&nbsp;&nbsp;<input type="checkbox" id="hmc1" name="hmc1" /></span></li>
				<li><span>Mouse ESC:&nbsp;&nbsp;<input type="checkbox" id="hmc2" name="hmc2" /></span></li>
			</ul>
		</div>
		<!-- Here's the plot setting-->
		<hr></hr>
		<div class="form-group">
			<p class="help-block">Plot setting:</p>
			<label for="before">Upstream region length(bp):</label>
		 	<input name="before" id="before" type="text" value="1000"/><br/>
			<label for="after">Downstream region length(bp):</label>
			<input name="after" id="after" type="text" value="1000"/><br/>
			<label for="scale">Scale target region to(bp):</label>
			<input name="scale" id="scale" type="text" value="1000"/><br/>
			<label for="binsize">Bin size for plotting(factor of scaled length and upstream/downstream length):</label>
			<input name="binsize" id="binsize" type="text" value="50"/><br/>
			<!--<label for="bed">Upload bed file to fix target regions:</label>
			<input type="file" name="bed" id="bed"><br/>-->
			<input class="btn btn-default" type="submit" id="Process">
		</div>
	</form>
	</div>
	</div>
	</div>


<!-- form over  -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		function switchBg(checked){
			if (checked === "file"){
				document.getElementById("bgfile").disabled=false;
				document.getElementById("bgdata").disabled=true;
				$("input[name='bgpreset']").attr("disabled","disabled");
			} else if (checked === "data"){
				document.getElementById("bgdata").disabled=false;
				$("input[name='bgpreset']").attr("disabled","disabled");
				document.getElementById("bgfile").disabled=true;
			} else if (checked === "preset"){
				$("input[name='bgpreset']").attr("disabled",false);
				document.getElementById("bgdata").disabled=true;
				document.getElementById("bgfile").disabled=true;
			}
		}
		function switchBw(checked){
			if (checked === "bwgsm"){
				document.getElementById("bwfile").disabled=true;
				document.getElementById("GSM").disabled=false;
			} else {
				document.getElementById("bwfile").disabled=false;
				document.getElementById("GSM").disabled=true;
			}
		}
		function switchgenome(checked){
			if (checked === "hg19" || checked==="hg38"){
				document.getElementById("meth2").disabled = true;
				document.getElementById("hmc2").disabled = true;
				document.getElementById("meth1").disabled = false;
				document.getElementById("hmc1").disabled = false;
			} else {
				document.getElementById("meth1").disabled = true;
				document.getElementById("hmc1").disabled = true;
				document.getElementById("meth2").disabled = false;
				document.getElementById("hmc2").disabled = false;
			}
		}

		function check_ratio(id){
			return document.getElementById(id).checked;	
		}
		function validate_required(value,alerttxt){
			
				if (value==null||value==""){
					alert(alerttxt);return false;
				} else {return true}
			
		}


		function validate_form(){

			if (check_ratio("bwgsm")){
				if (validate_required(document.forms["submit_form"]["GSM"].value,"Please input GSM code!")==false){ return false;}}
			if (check_ratio("bgmanualgene")){
				if (validate_required(document.forms["submit_form"]["bgdata"].value,"Please input gene list!")==false){ return false;}}
			return true;
		}

		$(document).ready(function(){
		
		document.getElementById("genome_default").click();
		document.getElementById("bwgsm").click();
		document.getElementById("bgprebed").click();
		document.getElementById("cgi").click();
			
		})
	</script>
</body>
</html>
